<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>UneBank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>
     
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Login</h1> 
          <p> 
            <label for="Email">Seu Email</label><br>
            <input id="Email" name="Email" required="required" type="text" placeholder="Email"/>
          </p>
           
          <p> 
            <label for="Senha">Sua Senha</label><br>
            <input id="Senha" name="Senha" required="required" type="password" placeholder="Senha" /> 
          </p>
           
          <p> 
            <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
            <label for="manterlogado">Manter-me logado</label>
          </p>
           
          <p> 
            <input type="submit" value="Logar" /> 
          </p>
           
          <p class="link">
            Ainda não possui uma conta?
            <a href="#paracadastro">Cadastre-se</a>
          </p>
        </form>
      </div>
 
      <!--FORMULÁRIO DE CADASTRO-->
      <div id="cadastro">
        <form method="post" action=""> 
          <h1>Cadastro</h1> 
           
          <p> 
            <label for="Name">Seu Nome</label><br>
            <input id="Name" name="Name" required="required" type="text" placeholder="Nome" />
          </p>
           
          <p> 
            <label for="Email">Seu Email</label><br>
            <input id="Email" name="Email" required="required" type="email" placeholder="Email"/> 
          </p>
           
          <p> 
            <label for="Password">Sua Senha</label><br>
            <input id="Password" name="Password" required="required" type="password" placeholder="Senha"/>
          </p>
           
          <p> 
            <input type="submit" value="Cadastrar"/> 
          </p>
           
          <p class="link">  
            Já possui conta?
            <a href="#paralogin"> Fazer Login </a>
          </p>
        </form>
      </div>
    </div>
  </div>  
</body>
</html>